.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f4950;
}
.h1 {
  color: #83d6af;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.h2 {
  color: white;
  margin-top: 20px;
}
.loginBox {
  background: #1f303a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #eceff1;
}

.inputGroup {
  margin-bottom: 15px;
  text-align: left;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #b0bec5;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #37474f;
  border-radius: 5px;
  font-size: 16px;
  color: #eceff1;
  background-color: #292e31c5;
}

.loginButton {
  width: 100%;
  padding: 10px;
  background: #00a85a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginButton:hover {
  background: #008069;
}

.registerText {
  margin-top: 15px;
  font-size: 14px;
  background: #008069;
}
