* {
  padding: 0;
  margin: 0;
}
.bddadiv {
  background-color: rgba(36, 47, 55, 0.8);
  height: 70px;
  width: 150px;
}
ul {
  padding: 10px;
  padding-left: 20px;
}
li {
  list-style-type: none;
  padding-top: 7px;
  cursor: pointer;
}
li:hover {
  background-color: #898e969f;
  border-radius: 4px;
}
