*{
    padding: 0;
    margin: 0;
}
.nav{

    background-color: #222e35;
    width: 110px;
    height: 100vh;
    border: 2px solid rgb(136, 133, 133);
    border-radius: 6px 0px;

}
.emoji{
    height: 39vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: rgb(196, 195, 195);
    justify-content: space-around;

}

.emoji2{
    height: 18vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(196, 195, 195);
    margin-top: 245px;
    margin-bottom: 10px;
    
}
.icon:hover{
    background-color: #636465;
    cursor: pointer;
    border: none;
}
.icon2:hover{
    background-color: #3b4348;
    cursor: pointer;
}

 .circle {
    margin: 0;
    padding: 0;
    height: 40px !important;
    width: 40px !important;  /* Width ko bhi 34px karo for perfect circle */
    border-radius: 50% !important;
    background-color: #3b4348 !important;
    cursor: pointer;
}
