.container1 {
  height: 100vh;
  background-color: #111b21;
  width: 100vh;
  border: 0.001px solid #111b21;
  overflow-y: scroll;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* border: 1px  0pxsolid rgb(194, 181, 181) ; */
}

.container {
  height: 5vh;
}
.text {
  color: white;
  display: flex;
  padding-top: 10px;
  padding-left: 12px;
}
.text h1 {
  font-size: 25px;
}

.logout {
  font-size: 27px;
  border-radius: 14px;
  color: rgb(207, 20, 20);
  background-color: #111b21;
  border: none;
  margin-top: 10px;
  margin-left: 50px;
  cursor: pointer;
}

.settingsOption {
  width: 80%;
  margin-left: 20px;
}
.ul {
  list-style: none;
}
.lists {
  display: flex;
  margin: 20px 0px 10px 10px;
  color: white;
  font-size: 20px;
}
.p {
  padding-left: 20px;
}
.p1 {
  padding-left: 20px;
  font-size: larger;
}
.lists:hover {
  cursor: pointer;
  background-color: #3b4348;
}
