.container {
  text-align: center;
  padding-top: 90px;
  font-family: Arial, sans-serif;
  background-color: #3f4950;
  height: 100vh;
  width: 100vw;
}

.h {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

.form {
  background-color: #1f303a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.button {
  background: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

.button:disabled {
  background: #49a55e;
  cursor: not-allowed;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}
.success {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}

label {
  font-size: 15px;
  color: white;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

label input {
  margin-top: 8px;
  margin-left: 10px;
  width: auto;
  height: auto;
  transform: scale(0.9);
}

.inputContainer {
  margin-bottom: 15px;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: #28a745; /* Highlight border color when input is focused */
  box-shadow: 0px 0px 8px rgba(40, 167, 69, 0.3); /* Soft green glow */
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align checkbox and label to the left */
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
}
